<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather_icon.png">    
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}
    <div class="main_content">
        <div class="about_grid">
            <img src="./img/alo.png" alt="Author image" class="author_image">
            <h2>Álvaro Quiles Pomares</h2>
            <h3><em>Full Stack Web Developer</em></h3>

            <div class="about_info">
                <p>
                    Hi there! My name is Alvaro and I'm a Full Stack Web Developer.
                </p>

                <p>
                    I work with several programming languages and technologies, such as: Java, JavaScript, Node.js, Spring Boot, HTML, CSS, BootStrap, SQL, MySQL and Git.
                </p>

                <p>
                    Feel free to <a href="mailto:alvquipom@gmail.com">contact</a> me at any time! 
                </p>
            </div>
            

        </div>

    </div>

    {{>footer}}

</body>
</html>